/* importaciones */
/* tipo de letra */
/* Google Fonts open sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
/* Google Fonts Raleway */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Fonts cabin */
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
/* Google Fonts Agu Display */
@import url('https://fonts.googleapis.com/css2?family=Agu+Display&family=Cabin:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');



/* variables */
:root {
    --backgroundColor: #1a1a1a;
    --textWhithe: #f2f2f2;
    --colorTerciario: #4d4d4d;
    --fontStyle: "Agu Display", serif;
}

/* estilos generales */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

header {
    background-color: var(--backgroundColor);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0px 30px;
    position: fixed;
    top: 0;
}
.logo{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-top: 2px;
}

.navbar {
    gap: 150px;
    
}

.nav-list {
    display: flex;
    gap: 30px;
    
}

.nav-list a {
    color: var(--textWhithe);
    font-size: 14px;
    font-weight: 600;
    transition: all 0.3s ease;
    padding: 5px 10px;
    font-family: var(--fontStyle)
}

.nav-list a:hover {
    color: var(--colorTerciario);
}

.nav-list li:first-child a {
    color: var(--colorTerciario);
    font-style: var(--fontStyle);
}
/* estilos del menu toggle */
.menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer; 
}
.menu-icon{
    display: none;
}

/* hero section */

.hero-section {
    display: flex;
    justify-content: space-between;
    background-color: var(--backgroundColor);
    color: var(--textWhithe);
    gap: 50px;
    margin: 100px 100px 0 100px;
    align-items: center;
    padding: 50px 100px;
    border-radius: 20px;
}

.hero-text {
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  
.hero-text h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: var(--fontStyle);
}

.hero-text p {
    font-size: 20px;
    font-weight: 400;
    margin-top: 20px;
}

.hero-image {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}

/* about section */
.about{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    padding: 50px 100px;
}
.about h2 {
    font-size: 40px;
    font-weight: 700;
    font-family: var(--fontStyle);
    text-align: center;
}
.about p {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}
/* media queries */
@media screen and (max-width: 968px) {
    body {
        background-color: var(--backgroundColor);
    }
    /* menu toggle media queries */
    header {
        padding: 0px 20px;
        height: 60px;
    }

    .menu-icon {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: pointer; 
        color : var(--textWhithe);
        font-size: 30px;
        font-weight: o00;
        
    }
    .menu-toggle {
        display: none;
        position: relative;
        z-index: 1;
    }
    .nav-list{
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        height: 0;
        width: 100%;
        align-items: flex-end;
        font-size: 20px;
    }
    .menu-toggle:checked ~ .nav-list {
        height: 200px;
        transition: height 0.3s ease;   
        display: flex;
    }

    /* hero section media queries */
    .hero-section {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }
    .hero-text {
        font-size: 30px;
        text-align: center;
    }

    /* about section media queries */
    .about {
        margin: 0px 100px;
        padding: 20px;
        color: var(--textWhithe);
    }
}